@model List<ResumeProjectDemo.Entities.About>
<section id="about">
	<div class="container">
		<div class="section-title h2 text-center mb-8">
			<h2 class="mb-0">Hakkımda</h2>
			<span class="title-letter">B</span>
		</div>
		<div class="row">
			@foreach (var x in Model)
			{
				<div class="col-md-6 col-lg-4 d-none d-lg-block">
				<img class="img-fluid w-100 rounded" src="@x.ImageUrl" alt="">
			</div>
			<div class="col-lg-8">
				<h3>@x.NameSurname</h3>
				<p class="lead">@x.Title</p>
				<p class="mb-5">@x.Description</p>
				<div class="row mb-8">
					<div class="col-md-6 mb-5 mb-md-0">
						<h4 class="mb-4">Eğitim</h4>
						<p class="h5">@x.EducationTitle1</p>
							<p>@x.EducationDate1</p>
							<p class="h5">@x.EducationTitle2</p>
							<p>@x.EducationDate2</p>
						</div>

					<div class="col-md-6">
						<h4 class="mb-4">Deneyimlerim</h4>
							<p class="h5">@x.SummaryExperienceTitle1</p>
							<p>@x.SummaryExperienceDesc1</p>
							<br />
							<p class="h5">@x.SummaryExperienceTitle2</p>
							<p>@x.SummaryExperienceDesc2</p>
						</div>
					</div>
					<a href="/cv/sertifika.pdf" download class="btn btn-primary">Cv'mi İndirin</a>
				<a href="#contact" class="btn btn-light scrollto">Bana Yazın</a>
			</div>
			}
		</div>
	</div>
</section>
